---
import Social from "../layouts/Social.astro";
const platforms = ["github", "instagram", "youtube"];
const socialLinks = {
  github: "https://github.com/elliott-chong",
  instagram: "https://instagram.com/elliottchong_",
  youtube: "https://www.youtube.com/channel/UC6ZtWvzrTl1FkXQXQXfjZ8g",
};
---

<footer class="border-t border-gray-600 py-2 mt-6">
  <div class="flex justify-center">
    <p class="text-gray-400 text-sm">© 2023 Elston Tan. All rights reserved.</p>
  </div>
</footer>
